.social {
	list-style: none;
	margin: 0;

	&__item {
		display: inline-block;
	}

	&__link {
		color: #0a0a0a;
		font-size: 22px;
		width: 30px;
		height: 30px;
		background: $yellow;
		display: block;
		border-radius: 6px;
		margin-left: 4px;
		text-decoration: none;
		transition: all .25s;

		&:hover {
			background-color: darken($yellow, 20%);
		}

		& i {
			vertical-align: middle;
		}
	}

	
	&__item:first-child i {
		margin-left: -1px;
	}

	&__item:nth-child(2) i {
		margin-left: -1px;
	}
}